/* Estilos Globais */
body {
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
  margin: 0;
  padding: 0;
  background-color: #f4f4f9; /* Fundo suave */
  color: #333; /* Cor do texto */
}

/* Cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif; /* Fonte diferente para cabeçalhos */
  margin: 0 0 10px;
  color: #3d5a80; /* Azul profundo */
}

/* Links */
.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Navbar */
nav {
  background-color: #3d5a80; /* Azul escuro */
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  color: white;
  text-align: center;
  font-size: larger;
}

/* Container Principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff; /* Fundo branco */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
  margin: 20px; /* Margem ao redor do container */
  max-width: 600px; /* Largura máxima */
  margin: 20px auto; /* Centraliza horizontalmente */
}



/* Listas */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin: 10px 0;
  background-color: #e0fbfc; /* Fundo suave para itens de lista */
  padding: 10px;
  border-radius: 4px;
}

.li {
  margin: 10px 0;
  background-color: #e0fbfc; /* Fundo suave para itens de lista */
  padding: 10px;
  border-radius: 4px;
}

/* Formulários */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Largura máxima */
  padding: 20px;
  background-color: #fff; /* Fundo branco */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
  
}

.int{
  width: 90%;
}

.input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Tamanho da fonte */
}

.input:focus {
  border-color: #3d5a80; /* Cor ao focar */
  outline: none; /* Remove o outline padrão */
}

.button {
  padding: 10px;
  background-color: #3d5a80; /* Azul escuro */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Tamanho da fonte */
  margin-top: 10px;
}

.button:hover {
  background-color: #1b3454; /* Tom mais escuro ao passar o mouse */
}

/* Erros */
.error {
  color: #ff6b6b; /* Vermelho suave */
  font-size: 14px;
  margin-top: 10px;
}

/* Estilo do Calendário */
.rbc-calendar {
  background-color: #fff; /* Fundo branco */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

.rbc-toolbar {
  background-color: #3d5a80; /* Fundo da barra de ferramentas */
  color: #fff; /* Cor do texto */
  padding: 10px; /* Espaçamento */
  border-top-left-radius: 10px; /* Bordas arredondadas */
  border-top-right-radius: 10px;
}

.rbc-toolbar button {
  background-color: #fff; /* Botões brancos */
  color: #3d5a80; /* Texto azul */
  border: 1px solid #3d5a80; /* Borda azul */
  padding: 5px 10px; /* Espaçamento */
  border-radius: 4px;
  cursor: pointer;
}

.rbc-toolbar button:hover {
  background-color: #a1d6e2; /* Fundo azul claro */
}

.rbc-month-view {
  padding: 10px;
}

.rbc-day-view,
.rbc-time-view {
  padding: 10px;
}

.rbc-time-header-cell {
  background-color: #e0f7fa; /* Fundo da célula de hora */
  color: #006064; /* Texto */
  border-bottom: 1px solid #006064;
}

.rbc-time-content {
  border-top: 1px solid #006064;
}

.rbc-event {
  background-color: #88c3d6; /* Cor de eventos */
  color: #2a4d69;
  border-radius: 4px;
  padding: 5px;
}

.rbc-event:hover {
  background-color: #3d5a80; /* Cor ao passar o mouse */
  color: #fff;
}

.rbc-time-slot {
  border-top: 1px dashed #cfd8dc; /* Linha pontilhada */
}

.rbc-time-gutter .rbc-timeslot-group {
  min-height: 30px; /* Altura mínima */
}

.rbc-time-header-content {
  border-bottom: 1px solid #3d5a80; /* Borda da seção de horários */
}

.rbc-current-time-indicator {
  background-color: #f44336; /* Indicador de tempo atual */
}

.rbc-today {
  background-color: #e0f7fa; /* Fundo para o dia atual */
}

.rbc-day-slot .rbc-time-slot {
  border: none; /* Remover bordas */
}

/* Footer */
footer {
  background-color: #3d5a80; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 7px 0; /* Espaçamento */
  position: fixed; /* Fixa o footer no rodapé */
  bottom: 0; /* Posiciona no fundo */
  width: 100%; /* Largura completa */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra superior */
}

footer p {
  margin: 0; /* Remove margens */
  font-size: 14px; /* Tamanho da fonte */
}
